#notfound main {
    position: absolute;

    background-color:rgba(0, 0, 0, 0.5);
    border-radius: var(--br-square);
    
    width: var(--w-body);

    padding: var(--marg01) 0 var(--marg01) 0 ;

    top: calc(var(--h-nav) + 20%);
    left: calc((100% - var(--w-body)) / 2);

    text-align: center;
    color: var(--c-white);
    
    margin-top: var(--marg-top-errorPage);
}
#notfoundTxt h6 {
    font-size: var(--f-size-h6-notfound);
}
#notfoundTxt h5 {
    font-size: var(--f-size-h5-notfound);
}
#notfoundTxt p {
    font-size: var(--f-size-p-notfound);
}