#connectPage
{
    display: flex;
    flex-direction: var(--fd-connectCont);
    flex-wrap: nowrap;
    justify-content: space-around;

    margin-top: var(--marg-top-connectPage);
}
.connectionSection {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

    width: var(--w-connectionSect);
    height: auto;
    min-height: var(--mh-connectionSection);
}
.inputErroMsg, .formMsg{
    font-weight: bold;
    text-align: center;

    width: var(--w-input);
    color: var(--c-errorColor);
}
.inputErroMsg{
    font-family: 'defaultReg';
    font-style: italic;
    font-size: var(--f-size-error);

    padding:calc( var(--pad02) * 0.8) 0 var(--pad02) 0;
}
.formMsg
{
    font-family: 'defaultLight';
    font-size: var(--f-size-p);

    padding:var(--pad01) 0 var(--pad02) 0;
}