header {
    width: var(--w-header);
    position: relative;
}
.homeHeader{
    height: var(--h-header);
}
.atrHeader{
    height: var(--h-headerAtr);
}
.connectHeader{
    height: var(--h-headerConnect);
}
.accountHeader{
    height: var(--h-headerAccount);
}
.profilHeader{
    height: var(--h-headerProfil);
}
.errorHeader{
    height: var(--h-headerError);
}
.homeHeader {
    background-image: var(--img-header-home);
}
.atrHeader {
    background-image: var(--img-header-atr);
}
.profilHeader {
    background-image: var(--img-header-profil);
}
.connexionHeader {
    background-image: var(--img-header-connection);
}
.adminHeader {
    background-image: var(--img-header-admin);
}
.notFoundHeader {
    background-image: var(--img-header-notfound);
}
#parkInformations {

    z-index: 1000;
    background-color: var(--c-white);
    text-align: center;

    padding: var(--pad01);
}